@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-track {
    background: "#1b1b1b";
  }
  
  /* HANDLE */
  ::-webkit-scrollbar-thumb {
    background: white;
    height: 10%;
  }
  
  html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
  
  .colorSwitcher {
    background-color: #1b1b1b;
    color: #f5f5f5;
  }
  